@model GuiHuaWebApp.Models.GuiHuaJianDu

@{
    ViewData["Title"] = "Edit";
}

<h1>编辑</h1>

@*<h4>GuiHuaJianDu</h4>*@
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="card">
                <div class="card-header">基本信息</div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="PrjName" class="control-label"></label>
                        <input asp-for="PrjName" class="form-control" />
                        <span asp-validation-for="PrjName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JSDanWei" class="control-label"></label>
                        <input asp-for="JSDanWei" class="form-control" />
                        <span asp-validation-for="JSDanWei" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JSWeiZhi" class="control-label"></label>
                        <input asp-for="JSWeiZhi" class="form-control" />
                        <span asp-validation-for="JSWeiZhi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FaZhengTime" class="control-label"></label>
                        <input asp-for="FaZhengTime " class="form-control" />
                        <span asp-validation-for="FaZhengTime " class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GongGuiNum" class="control-label"></label>
                        <input asp-for="GongGuiNum" class="form-control" />
                        <span asp-validation-for="GongGuiNum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JSGuiMo" class="control-label"></label>（单位：平方米）
                        <input asp-for="JSGuiMo" class="form-control" />
                        <span asp-validation-for="JSGuiMo" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="SFYanXian" /> @Html.DisplayNameFor(model => model.SFYanXian)
                        </label>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">是否施工现场检查</div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="IsChecked1" class="control-label"></label>
                        <input asp-for="IsChecked1" class="form-control" />
                        <span asp-validation-for="IsChecked1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsChecked2" class="control-label"></label>
                        <input asp-for="IsChecked2" asp-format="{0:yyyy/MM/dd}" class="form-control" />
                        <span asp-validation-for="IsChecked2" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="SFFaWenXinTiShiKa" /> @Html.DisplayNameFor(model => model.SFFaWenXinTiShiKa)
                        </label>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    现场检查情况说明
                </div>
                <div class="card-body">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="checkItem1" /> @Html.DisplayNameFor(model => model.checkItem1)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="checkItem2" /> @Html.DisplayNameFor(model => model.checkItem2)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="checkItem3" /> @Html.DisplayNameFor(model => model.checkItem3)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="checkItem4" /> @Html.DisplayNameFor(model => model.checkItem4)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="checkItem5" /> @Html.DisplayNameFor(model => model.checkItem5)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="checkItem6" /> @Html.DisplayNameFor(model => model.checkItem6)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="checkItem7" /> @Html.DisplayNameFor(model => model.checkItem7)
                        </label>
                    </div>
                </div>
            </div>

            @*<div class="form-group">
            <label asp-for="Photos" class="control-label"></label>
            <input asp-for="Photos" class="form-control" />
            <span asp-validation-for="Photos" class="text-danger"></span>
        </div>*@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SFJunGongHeShi" /> @Html.DisplayNameFor(model => model.SFJunGongHeShi)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BiaoJi" /> @Html.DisplayNameFor(model => model.BiaoJi) （是否标记出来）
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BeiZhu" class="control-label"></label>
                <input asp-for="BeiZhu" class="form-control" />
                <span asp-validation-for="BeiZhu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                现场照片
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <p>上传一张或多张照片（图片格式限：jpg，png，gif，bmp）:</p>
                        <input type="file" id="files" name="files" multiple accept="image/gif,image/jpeg,image/png,image/bmp" />
                    </div>
                </div>
                <div class="form-group">
                    @*<div class="col-md-6">
                        <input class="btn btn-primary" type="submit" value="上传" />
                    </div>*@
                    <div class="col-md-12">
                        <input type="button" id="upload" class="btn btn-success" style="cursor:pointer;width:100px;" value="上传" />
                    </div>
                </div>
                <div class="col-md-12" style="margin-bottom:1rem;">
                    <select class="custom-select" id="ImageList" style="margin-bottom:1rem;" multiple >
                        @*<option selected>Open this select menu</option>*@
                    </select>
                    <a href="" target=""><input type="button" id="srcImgBtn" value="查看原图" class="btn btn-dark"></a>
                    <input type="button" id="deletePic" class="btn btn-danger" value="删除" />
                    <span id="deleteInfo"></span>
                </div>
                <div class="col-md-12">
                    <img id ="showImg" src="~/images/blank.png" alt="选择一张图片"  class="img-thumbnail"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    @*@using Newtonsoft.Json;
    var vData = @Html.Raw(JsonConvert.SerializeObject(ViewData));
    var id = vData["id"];*@
    var id = @Model.Id;
    var imgName = null;
    ReadPicture();
    @*切换当前显示的图片*@
    $("#ImageList").on("change", function () {
        imgName = $("option:selected", this).val();
        var imgUrl = "../../uploadFiles/photos/" + id + "/" + imgName;
        $("#showImg").attr({ "src": imgUrl });
        $("#deleteInfo").text("");
    });
    @*查看原图*@
    $("#srcImgBtn").click(function () {
        var src = $("#showImg").attr("src");
        if (src == "/images/blank.png") {
            $('#srcImgBtn').parent().attr({ "href": "", "target": "" });
        } else {

            $('#srcImgBtn').parent().attr({ "href": src,"target":"_blank" });
        }
    });
    //删除图片
    $("#deletePic").click(function () {
        if (imgName == null) {
            $("#deleteInfo").text("没有选择任何图片！");
        }
        else {
            $.ajax("../DeletePicture", {
                type: "GET",
                datatype: "json",
                data: {
                    id: id,
                    imgName: imgName
                },
                error: function () { },
                success: function (result) {
                    $("#deleteInfo").text(result.deleteInfo);
                    $("#ImageList").empty();
                    $("#showImg").attr({ "src": "/images/blank.png" });
                    ReadPicture();
                }
            });
        }
    });
    //图片读取
    function ReadPicture() {
        $.ajax("../ReadPicture", {
            type: "GET",
            datatype: "json",
            data: {
                id: id
            },
            error: function () { },
            success: function (data) {
                $("#ImageList").empty();
                $.each(data, function (i,item) {
                    $("<option></option>").val(item["value"]).text(item["text"]).appendTo($("#ImageList"));
                })
            }
        });
    }
    //图片上传
    $("#upload").click(function (evt) {
        var fileUpload = $("#files").get(0);
        var files = fileUpload.files;
        var data = new FormData();
        for (var i = 0; i < files.length; i++) {
            data.append(files[i].name, files[i]);
        }
        var url = "../UploadFiles/?" + "id="+@Model.Id;
        $.ajax({
            type: "POST",
            url: url,
            contentType: false,
            processData: false,
            data: data,
            success: function (message) {
                console.log(message);
                alert(message.message);
                ReadPicture();
            },
            error: function () {
                alert("上传文件出现错误！");
            }
        });
    });


</script>
}
